@import "../../sass-modules/colors";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

.select-component {
  display: flex;
  flex-direction: column;
  width: 288px;

  select {
    box-sizing: border-box;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 24px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    margin-top: 4px;
    border-radius: 4px;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg width='0.75em' height='0.75em' viewBox='0 0 16 16' class='bi bi-chevron-down' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 8px);
    background-position-y: 50%;

    &.independent-select {
      border: 1px solid #f1f1f1;
      background-color: #fff;
    }

    &.inline-select {
      border: none;
      background-color: $gray50;
    }
  }
}
