@import "../../sass-modules/colors";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

.component-container {
  &.icon {
    .addon-container {
      background-color: $gray100;
    }
  }

  &.text-icon {
    .addon-container {
      background-color: $gray50;
    }
  }

  .addon {
    display: inline-flex;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    background-color: transparent;
    color: $gray700;
    line-height: 12px;

    &-icon {
      color: $gray700;
      margin-right: 4px;
    }

    &-container {
      display: inline-flex;
      padding: 4px 8px;
      box-sizing: border-box;
    }
  }
}
