// Spacing Token
// Spacing mixin is used for spacing inside one component.
// For spacing between two different components. Please use _layout.scss tokens

$spacing-01: 4px;
$spacing-02: 8px;
$spacing-03: 16px;
$spacing-04: 24px;
$spacing-05: 32px;
$spacing-06: 40px;
$spacing-07: 48px;
