@import "../../sass-modules/colors";

.parent-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $gray700;

  .menu {
    width: 100%;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 58px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: $gray0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(0px);
    transition: all 250ms linear;
    box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
      0px 3.2px 7.2px rgba(0, 0, 0, 0.13);

    li {
      padding: 8px 8px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    li:hover {
      background-color: $gray50;
    }
  }

  .dropdown-parent {
    width: 100%;
    display: flex;
    background-color: $gray25;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &:hover {
      background-color: $gray100;
    }

    &.focus + ul {
      opacity: 1;
      pointer-events: all;
      transform: translateY((0px));
    }

    .wrapper {
      display: flex;
      flex-direction: row;
    }

    .title {
      padding: 14px 16px 16px 14px;
    }
    .icon {
      color: $gray700;
      box-sizing: border-box;
      padding: 16px;
      background-color: transparent;

      &:hover {
        background-color: $gray700;
        color: $gray0;
      }
    }
  }
}
